:root{
    --fuenteHeadings: 'Palanquin', sans-serif;
    --fuenteTexto: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --verde: #01a117;
    --azul: rgb(2, 100, 192);
}

html {
    font-size: 62.5%; /* Now 10rem = 1rem! */
}

/*Globales*/

*{
    font-family: var(--fuenteTexto);  
    font-size: 1.5rem;  
}

h1, h2, h3{
    font-family: var(--fuenteHeadings);
}

h1{
    font-size: 6rem;
}

h2{
    font-size: 5rem;
}

h2{
    font-size: 3rem;
}

/*Utilidades*/
.contenedor{
    max-width: 100rem;
    width: 80%;
    margin: 0 auto;
}

.mt-5{
    margin-top: 5rem;
}

.mt-2{
    margin-top: 2rem;
}

/*Botones*/

.btn{
    border-radius: 1.5rem;
    padding: 0.6rem 2rem;
    outline: none;
    border: none;
    color: white;
}

.btn-success{
    background-color: var(--verde);
}

.btn:hover{
    cursor: pointer;
}

/*Tabla*/
.table {
    border-collapse: collapse;
    margin: 2.5rem 0;
    min-width: 30rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
    width: 100%;
}

.tabla-datos-usuario td{
    text-align: center;
}

.table thead tr {
    background-color: var(--azul);
    color: #ffffff;
    text-align: left;
}

.table th{
    text-align: center;
}

.table th,
.table td {
    padding: 1.2rem 1.5rem;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

td.opciones{
    display: flex;
    flex-direction: column;
}

td.acciones {
    display: flex;
    justify-content: space-between;
}

.opcion {
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    text-decoration: underline;
    color: var(--azul);
    width: 100%;
    text-align: center;
}

.opcion:hover{
    cursor: pointer;
}

@media (min-width: 600px) {
    td.opciones{
        justify-content: space-around;
        flex-direction: row;    
    }
}

/*Estilos para el modal*/
@media (min-width: 480px) {
    .modal-content{
        width: 60%; 
    }
}

@media (min-width: 992px) {
    .modal-content{
        width: 40%; 
    }
}

.formulario, .tabla-datos-usuario {
    margin: 0 auto;
    width: 60%;
    margin-top: 30rem;
}

.formulario.login {
    background-color: #f0f0f0;
    padding: 3rem;
    border-radius: 5px;
}

/*Formulario de nuevo usuario*/

form .campo{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 1rem 0;
}

form button{
    grid-column-start: 3;
}


/*Laboratorio*/
.laboratorio{
    width: 90%;
    margin: 0 auto;
}

canvas{
    width: 100%;
    background-image: url('../img/background.jpg');
    background-position: center;
    background-size: cover;
}